.header {
    height: 15em;
    background-image: url("../img/logo.jpg");
    background-size: auto 100%;
    background-position: right;   
    background-repeat: no-repeat; 
    padding-top: 0em;
    margin-right: 5em;

    }
.header h1 {
    margin: 0px;
    color: rgb(75, 74, 74);
    font-size: 5em;
    text-align: left;
    padding-top: 1em;
    margin-left: 1em;
    }
.header p {
    color: rgb(64, 64, 64);
    font-size: 1.5em;
    text-align: left;
    padding-top: 0em;
    margin-left: 3.5em;
    }

body {
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(64, 64, 64);
    }

.products {
    width: 80%;
    margin: auto;
    }
.products td {
    width: 50%;
    padding: 2em;
    }
.products img {
    width: 100%;
    border: solid 1px #ddd;
    
    }

    .footer {
        height: 3em;
        line-height: 3em;
        background-color: rgb(185, 112, 41);
        color: white;
        text-align: center;
        font-weight: 900;
        }
#titulos {
    font-size: 2em;
    color: rgb(30, 30, 30);
    text-align: center;
    padding-top: 1em;
    }
#descripcion {
    font-size: 1.5em;
    color: rgb(64, 64, 64);
    text-align: center;
    padding-top: 0.5em;
    }
#precio {
    font-size: 1.5em;
    color: rgb(64, 64, 64);
    text-align: center;
    padding-top: 0.5em;
    }
        
